.pagination {
  padding-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  & .card {
    padding: 0.5rem;
    border-radius: 41px;
    background-color: $white;
    box-shadow: 0px 0px 10px 0px #00000040;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
  }
}
